.nav-top{
    background-color:#4682B4;
}
.nav-menu{
    color: white !important;
    background-color:#0275d8;
    margin: 5px;
    border-radius: 10%;
}
.img-car{
    text-align: center;
    
    max-height:600px !important;
}
.divisao{
    background-color: #4682B4	 !important;
    text-align: center;
    color: white;
    padding: 2em;
}
.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center;
    margin: 0.5%;
}
.sec-pacotes p {
    text-align:justify;
}
.card{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
footer{
    text-align: center !important;
    background-color: #4682B4 !important;
    color: white;
}

.sec-contato{
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    background-color:white;
    box-sizing: border-box;
}
#redes{
    background-color: white;
    color: #1b697a;
}
.carrossel{
    background-color: #3571a177;
}
#logo{
    max-height: 40px;
    border-radius: 100%;
}